#ifndef INCLUDE_CONFIG_ID_H
#define INCLUDE_CONFIG_ID_H

#include "config_device.h"

/* Device identity */
#if defined(ENABLE_GATEWAY)
	#define DEVICE_ID 0
#else
	#define DEVICE_ID 1
#endif

#if DEVICE_ID == 0
	#if !defined(ENABLE_GATEWAY)
		#define ENABLE_GATEWAY
	#endif
#else
	#if !defined(ENABLE_MEASURE)
		#define ENABLE_MEASURE
	#endif
#endif

#endif // INCLUDE_CONFIG_ID_H
