#ifndef INCLUDE_CONFIG_ID_H
#define INCLUDE_CONFIG_ID_H

/* Device identity */
#if defined(ENABLE_GATEWAY)
	#define DEVICE_ID 0
#else
	#define DEVICE_ID 1
#endif

#if DEVICE_ID == 0
	#define ENABLE_GATEWAY
#else
	#define ENABLE_MEASURE
#endif

#endif // INCLUDE_CONFIG_ID_H
