#ifndef INCLUDE_CONFIG_ID_H
#define INCLUDE_CONFIG_ID_H

/* Device identity */
#define DEVICE_ID 0
#define NUMBER_OF_DEVICES 100

#define ENABLE_GATEWAY
//	#define ENABLE_MEASURE

#endif // INCLUDE_CONFIG_ID_H
